<div class="container">
    <h1 class="titulo bg-secondary" align='center'><i class="fas fa-shopping-cart"></i> Carrito</h1>
    <div class="card col-12 bg-white border-secondary">
        <div>
            <table>
                <tr *ngFor="let product of productsTemp">
                    <td>
                        {{product.name}}
                    </td>
                    <td>
                        <input type="number">
                    </td>
                    <td>
                        {{product.price}}
                    </td>
                </tr>
            </table>
        </div>

    </div>