<div class="container productos">
  <div class="card-group">
    <div class="card col-3 border-warning mb-2">
      <p></p>
      <img class="mediana img-center" src="../../assets/img/Norma1.jpg">
      <div class="card-body">
        <h5 class="card-title">Cuaderno Norma</h5>
        <p class="card-text">Nueva Versión 2019</p>
        <h2 class="precio text-center bg-secondary">$1.50</h2>
        <button type="button" class="btn btn-block btn-outline-secondary"><i class="fas fa-cart-plus"></i> Comprar</button>
      </div>
    </div>
    <div class="card col-3 border-warning mb-2">
      <p></p>
      <img class="mediana img-center" src="../../assets/img/Norma2.png">
      <div class="card-body">
        <h5 class="card-title">Cuaderno Norma</h5>
        <p class="card-text">Nueva Versión 2019</p>
        <h2 class="precio text-center bg-secondary">$1.50</h2>
        <button type="button" class="btn btn-block btn-outline-secondary"><i class="fas fa-cart-plus"></i> Comprar</button>
      </div>
    </div>
    <div class="card col-3 border-warning mb-2">
      <p></p>
      <img class="mediana img-center" src="../../assets/img/Norma3.jfif">
      <div class="card-body">
        <h5 class="card-title">Cuaderno Norma</h5>
        <p class="card-text">Nueva Versión 2019</p>
        <h2 class="precio text-center bg-secondary">$1.50</h2>
        <button type="button" class="btn btn-block btn-outline-secondary"><i class="fas fa-cart-plus"></i> Comprar</button>
      </div>
    </div>
    <div class="card col-3 border-warning mb-2">
      <p></p>
      <img class="mediana img-center" src="../../assets/img/Norma4.gif">
      <div class="card-body">
        <h5 class="card-title">Cuaderno Norma</h5>
        <p class="card-text">Nueva Versión 2019</p>
        <h2 class="precio text-center bg-secondary">$1.50</h2>
        <button type="button" class="btn btn-block btn-outline-secondary"><i class="fas fa-cart-plus"></i> Comprar</button>
      </div>
    </div>
  </div>
  <div class="card-group">
    <div class="card col-3 border-warning mb-2">
      <p></p>
      <img class="mediana img-center" src="../../assets/img/Estilo1.jfif">
      <div class="card-body">
        <h5 class="card-title">Cuaderno Norma</h5>
        <p class="card-text">Nueva Versión 2019</p>
        <h2 class="precio text-center bg-secondary">$1.50</h2>
        <button type="button" class="btn btn-block btn-outline-secondary"><i class="fas fa-cart-plus"></i> Comprar</button>
      </div>
    </div>
    <div class="card col-3 border-warning mb-2">
      <p></p>
      <img class="mediana img-center" src="../../assets/img/Estilo2.jpg">
      <div class="card-body">
        <h5 class="card-title">Cuaderno Norma</h5>
        <p class="card-text">Nueva Versión 2019</p>
        <h2 class="precio text-center bg-secondary">$1.50</h2>
        <button type="button" class="btn btn-block btn-outline-secondary"><i class="fas fa-cart-plus"></i> Comprar</button>
      </div>
    </div>
    <div class="card col-3 border-warning mb-2">
      <p></p>
      <img class="mediana img-center" src="../../assets/img/Scribe1.jpg">
      <div class="card-body">
        <h5 class="card-title">Cuaderno Norma</h5>
        <p class="card-text">Nueva Versión 2019</p>
        <h2 class="precio text-center bg-secondary">$1.50</h2>
        <button type="button" class="btn btn-block btn-outline-secondary"><i class="fas fa-cart-plus"></i> Comprar</button>
      </div>
    </div>
    <div class="card col-3 border-warning mb-2">
      <p></p>
      <img class="mediana img-center" src="../../assets/img/Scribe2.webp">
      <div class="card-body">
        <h5 class="card-title">Cuaderno Norma</h5>
        <p class="card-text">Nueva Versión 2019</p>
        <h2 class="precio text-center bg-secondary">$1.50</h2>
        <button type="button" class="btn btn-block btn-outline-secondary"><i class="fas fa-cart-plus"></i> Comprar</button>
      </div>
    </div>
  </div>
</div>