<div class="container container-productos-inicio">
    <!-- <input type="text" [(ngModel)]="product.name" name="name"> {{productos.image}} -->
 <div class="row">        
     <div class="col-3" *ngFor = "let productos of listProducts">
         <div class="card border-warning" >
             <p></p>
             <img class="mediana img-center" src="{{productos.image}}">
             <div class="card-body">
                 <h5 class="card-title">{{productos.name}}</h5>
                 <p class="card-text">{{productos.type}}</p>
                 <h2 class="precio text-center bg-secondary">${{productos.price}}</h2>
                 <button (click)="agregarCarrito(productos.id)"  type="button" class="btn btn-block btn-outline-secondary"><i class="fas fa-cart-plus"></i>
                     Al Carrito</button>
             </div>
         </div>
         <br> 
     </div>
 </div>
</div>